* {

    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    transition: .2s linear;
    font-family: 'Montserra', sans-serif;
    scroll-behavior: smooth;
  
  }
  
  body,
  html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
  
  
  }
  
  
  header {
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-bottom: 1px bold #040404;
    box-shadow: 10px 0px 10px #c5c5c5
  
  
  
  
  }
  
  header img {
    display: block;
    width: 100px;
    height: 20px;
    object-fit: cover;
    zoom: 1.5;
    position: absolute;
    left: 45%;
    cursor: pointer;
  
  
  }
  
  nav {
    position: absolute;
    left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    z-index: 999999;
    
  
  }
  
  
  .nav ul {
  
    display: flex;
    justify-content: left;
    padding: 16px 1px 0px 1px;
  
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  
  /* thêm màu background khi nút dropdown khi hover */
  .navbar a:hover, .dropdown:hover {
    background-color: #ffffff;
  }
  
  .dropdown:hover .sub_dropdown {
    display: block;
  }
  
  /* Ẩn nội dung dropdown*/
  .sub_dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* thiết lập style cho đường dẫn bên trong dropdown */
  .sub_dropdown a {
    float: none;
    padding: 12px 26px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* chọn background cho đường dẫn bên trong dropdown khi hover*/
  .sub_dropdown a:hover {
    background-color: #ddd;
  }
  
  
  
  .nav li {
    list-style-type: none;
    text-decoration: none;
    padding: 20px 5px 0px 5px;
    color: #040404;
    text-transform: uppercase;
    text-align: left;
    
  }
  
  .nav a {
  
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    color: #828282;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 13px;
  }
  
  nav a:hover {
    color: #0e0d0e;
    border-bottom: 3px solid #1c29e1;
  }
  
  .search_form {
    position: absolute;
    right: 150px;
    top: 50px;
    border-radius: 10%;
    border: none;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 10px 10px 60px #c5c5c5,
      -20px -20px 60px #ffffff;
    transition: 0.3s;
  
  }
  
  .search_form input[type=text] {
    width: 240px;
    height: 30px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
  }
  
  .icons {
    position: absolute;
    right: 13px;
    top: 14px;
  
    cursor: pointer;
    text-decoration: none;
    
  }
  
  .icons i {
    font-size: 20px;
    margin: 5px;
    transition: all 0.3s ease-in-out;
    color: #828282;
  }
  
  .icons i:hover {
    transform: scale(1.1);
    color: rgb(0, 0, 0);
  }

  .card{
    border-radius:10px;
    background:white;
    
    width:800px;
    border:1px solid #e3e6ea;
   margin:auto;
    margin-top:10%
  }
  .header{
    width:90%;
    color:#5E6989;
    font-size:22px;
  
    padding:0 5%;
    
  }
  
  .product{
    display:flex;
    width:90%;
    align-items:center;
    justify-content:space-between;
    padding:2% 5%;
    border-top:1px solid  #e3e6ea;
    
    
  }
  .session {
    /* Float it to the right */
    position: absolute;
    right: 10px;
    top:70px;
    
    font-size: 11px;
    font-family: 'Montserra', sans-serif;
    border: none;
    color: #000;
    
  }
  
  .session:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .session:hover {
    color: #000;
  }
  .session:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .session:active {
    top: 2px;
  }
  .quant{
    display:flex;
    justify-content:space-between;
    width:90px;
    
  }
  .pu{display:none;}
  .op{
    color:#AAB8C2;
    display:flex;
    justify-content:space-between;
    width:50px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
  }
  img{
    background:#F7F7F9;
   width: 200px;
    height: 300px;}
  .name{
   
    font-size:18px;
    margin-bottom:10px;
    color:#525354;
    font-family: 'Montserra', sans-serif;
  }
  .color{
    color:darkgray;
    font-weight:10;
  }
  .plus,.minus{
    color:#AAB8C2;
    font-size:28px;
    background:#E1E8EE;
  width:25px;
    height:25px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:5px;
  cursor:pointer;
  }
  .price{
    font-weight:100;
    font-size:20px;
    color:gray;
    
  }
  .red{
      color:red
  }
  